.navbar{
  margin: .5rem;  
  min-width: 320px; /* Dimension mas chica en celulares */
}
.navbarstyle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-items: center;
    background-color: var(--color-principal);
    box-shadow: 0px 2px 5px 0px #000000;
    min-height: 70px;
}
.navbar-toggler{
    color: white;
    max-width: 300px;
}
.navbar-title{
    color: var(--texto-primario);
    font-weight: bold;
    font-size: 1.4rem;
    padding-left: 15px;
}
.navbar-button{
  cursor: pointer;
}
/* Cuando el menú está abierto */
.navbar-toggler[aria-expanded="true"] {
    border-color: white;
}
.navLinks{
  color: white;
  font-weight: 500;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.perfil-image{
  width: 50px;
  height: 50px;  
  border-radius: 180px;
}