.header--container{
    justify-content: space-evenly !important;
    align-items: center;
    background-color: var(--color-principal);
    box-shadow: 0px 2px 5px 0px #000000;
    min-height: 45px;
    margin-bottom: 20px;
}

h2{
    padding-top: 5px;
    text-align: center;
    min-width: 344px;
    color: aliceblue;
}
h3{
    text-align: center;
    margin-bottom: 10px;
}

.form--container{
    margin-top: 50px;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 2px 5px 0px #000000;
    min-width: 322px;
    margin-bottom: 50px;

}
.submitboton{
    width: 50%; 
}
.buton--container{
    justify-content: space-between;
    margin-left: 35%;
    padding-top: 10px;
    margin-bottom: 10px;
}
.submitboton:hover{
    transition: all 0.3s ease; /* duración y tipo de animación */
    box-shadow: 0px 2px 5px 0px #000000;
    background-color: var(--color-principal);
    color: antiquewhite;
}
.register--section{
    font-size: 12px;
    font-weight: 500;
    margin: 0 auto;
    margin-left: 10%;
}
.fielset-genero{
    margin-top: 5px;
    align-content: space-evenly; 
}
.radio-btn{
    margin: 5px;
}
.btn-span{
    margin-left: 5px;
}