<app-header></app-header>
<!-- Angular calendar || ngx-chart   -->
<section class="homestyles"> <!-- section en vez de body para eliminar problemas de hidratacion -->
    <h1 class="BienvenidaText">Bienvenido Usuario</h1>

    <section class="tareas--section-container">
        <h2>Tus tareas mas recientes</h2>

        <article class="tareas--article">
            <h3>Nombre de la tarea 1</h3>
            <p> Pequeña descripcion de la tarea 1</p>
        </article>
        
        

    </section>

    <section class="avance--section-container">
        <h2>Tus avances en tus tareas</h2>

        <article class="avance-grafico">
            <img src="" alt="Grafico de varias tareas y avance">
        </article>
    </section>


</section>