<app-header></app-header>
<!-- Angular calendar || ngx-chart   -->
<section class="homestyles"> <!-- section en vez de body para eliminar problemas de hidratacion -->

    <section class="tareas--section-container">
        <h2>Tus tareas mas recientes</h2>
        <br>
        <section  class="tareas--section-boxes">
            <article class="tareas--article card">
                <h3>Nombre de la tarea 1</h3>
                <p> Pequeña descripcion de la tarea 1</p>
                <img src="" alt="Avance de la tarea"> 
            </article>

            <article class="tareas--article card">
                <h3>Nombre de la tarea 2</h3>
                <p> Pequeña descripcion de la tarea 1</p>
                <img src="" alt="Avance de la tarea"> 
            </article>

            <article class="tareas--article card">
                <h3>Nombre de la tarea 3</h3>
                <p> Pequeña descripcion de la tarea 1</p>
                <img src="" alt="Avance de la tarea"> 
            </article>

            <article class="tareas--article card">
                <h3>Nombre de la tarea 3</h3>
                <p> Pequeña descripcion de la tarea 1</p>
                <img src="" alt="Avance de la tarea"> 
            </article>
            
            <article class="tareas--article card">
                <h3>Nombre de la tarea 3</h3>
                <p> Pequeña descripcion de la tarea 1</p>
                <img src="" alt="Avance de la tarea"> 
            </article>

            

            
        </section>

    </section>

    <section class="avance--section-container card">
        <h2>Tus avances en tus tareas</h2>

        <article class="avance-grafico">
            <img src="assets/imgs/graphs/Grafico1.jpg" alt="Grafico de varias tareas y avance">
        </article>
    </section>

    <pre>{{ users}}</pre>
</section>