
:root {
    --color-principal: #316E98; 
    --color-secundario: #29587B; 
    --fondo-principal: #316E98; 
    --texto-primario: #d8d8d8; 
    --texto-secundario: #0b1824; 
    --botones-cta: #254B67; 
    --exito: #4288B3; 
    --error: #7D2E42; 
    --advertencia: #9E952F; 
}